*.dll
*.csproj
*.pidb
*.sln
Temp/
*.unityproj
*.mdb
HeartGame/Assembly-UnityScript-firstpass-vs.unityproj
HeartGame/Assembly-UnityScript-firstpass.unityproj
HeartGame/Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll
HeartGame/Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb
HeartGame/Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll
HeartGame/Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll.mdb
HeartGame/Library/ScriptAssemblies/CompilationCompleted.txt
HeartGame/Library/ScriptAssemblies/CompilationCompleted.txt
HeartGame/Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll
HeartGame/Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb
HeartGame/Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll
HeartGame/Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll.mdb
HeartGame/Assembly-UnityScript-firstpass-vs.unityproj
HeartGame/Assembly-UnityScript-firstpass.unityproj
HeartGame/Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll
HeartGame/Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb
HeartGame/Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll
HeartGame/Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll.mdb
